[flake8]
max-line-length = 80
select = B,C,DAR,E,F,N,W
extend-ignore = E203, E501
max-complexity = 10
docstring-convention = google
rst-roles = class,const,func,meth,mod,ref
rst-directives = deprecated
per-file-ignores=src/assistant/coding/applier.py:N802
